@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

html {
    font-family: "Rubik";
}
h1 {
    font-weight: bold;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    text-align: justify;
    background-color: #eff1e8;
}